.loginDesign {

    height: 78vh;
    width: 100vw;

    background-color: gainsboro;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginButtonDesign {

    width: 6em;
    height: 3em;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: darkcyan;

    border-radius: 0.5em;
    transition: 0.3s;
    color: white;
    font-weight: bold;

    cursor: pointer;
}

.loginButtonDesign:hover {

    background-color: darkseagreen;
    transition: 0.3s;
}