#navBar {

    background-color: rgba(231, 231, 231, 0.753) !important;

}

.navbar-dark {
--bs-navbar-color: rgba(102, 102, 102, 0.75);
--bs-navbar-hover-color: rgb(112, 205, 218);
--bs-navbar-disabled-color: rgba(255, 255, 255, 0.25);
--bs-navbar-brand-color: rgb(112, 205, 218);
--bs-navbar--brand-hover-color: rgb(112, 205,218);
border-bottom: solid;
border-width: 0.1em;
border-color: black;

--bs-navbar-toggler-border-color: rgba(255, 255, 255, 0.1);
transition: 0.5s

}