.registerDesign {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 78vh;
    width: 100vw;

    background-color:rgb(112, 158, 218);


}


.registerFormContainer {
    display:flex;
    flex-direction: column;

}