.registerDesign {
    display: flex;

    height: 78vh;
    width: 100vw;

    background-color: teal;

    display: flex;
    justify-content: center;
    align-items: center;
}

.registerFormContainer {
    display:flex;

    height: 90vh;
    width: 50vw
}