.appointmentsDesign{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


#appButton {
    width:8em;
}

.appointmentContainerDesign {
    height: 50vh;
    width: 50vw;
    display: grid;
    grid-template-columns: 50% 50%;

    background-color: azure;
    border-width: 0.5em;
    border-style: solid;
    border-color: rgb(112, 205, 218);
    overflow: auto
}

.appButtonContainer {
    display:flex;
    width: 40vw
}


@media only screen and (max-width: 800px) {
    .appointmentContainerDesign{
        display:flex;
        width: 95vw
    }
}